<div class="p+">
  <div style="display:block;width:300px;">
    <subheaders>
      <div class="subheader-container" lx-scrollbar>
        <subheader title="Seção A">
          <ul class="list">
            <li class="list-row" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
              Item {{i}}
            </li>
          </ul>
        </subheader>
        <subheader title="Seção B">
          <ul class="list">
            <li class="list-row" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
              Item {{i}}
            </li>
          </ul>
        </subheader>
        <subheader title="Seção C">
          <ul class="list">
            <li class="list-row" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
              Item {{i}}
            </li>
          </ul>
        </subheader>
        <subheader title="Seção D">
          <ul class="list">
            <li class="list-row" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
              Item {{i}}
            </li>
          </ul>
        </subheader>
        <subheader title="Seção E">
          <ul class="list">
            <li class="list-row" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
              Item {{i}}
            </li>
          </ul>
        </subheader>
      </div>
    </subheaders>
  </div>
</div>